<h2>Ingredients del kit</h2>
<% @kit.ingredients.each do |ingredient| %>
          <div class="card-scroll col-md-4">
          <div class="card-kit-showkit border">
            <img src=<%= ingredient.image %>  />
            <div class="card-body">
              <div>
                <h5 class="card-title mb-1"><%= ingredient.name %></h5>
              </div>
            </div>
          </div>
        </div>
<% end %>
  <%= simple_form_for([@kit, @ingredient]) do |f| %>
    <div class="d-row align-items-center">
      <%= f.input :name, placeholder: "Nombre", label: false %>
      <%= f.input :image, placeholder: "Imagen", label: false %>
      <%= f.simple_fields_for :kit_ingredient do |a| %>
        <%= a.input :quantity, label: "Cantidad" %>
        <%= a.input :unit, label: "Unidad" %>
      <% end %>
    </div>
    <%= f.submit "Agregar Ingrediente", class: "btn btn-primary"%>
  <% end %>
