<h2 class="my-4 justify-content-center">Ingredients del kit</h2>
          <div class="justify-content-around  ">
<% @kit.ingredients.each do |ingredient| %>
          <div class="card-kit-showkit border m-4" style=" width: 200px; ">
            <img src=<%= ingredient.image %>  />
            <div class="card-body">
              <div>
                <h5 class="card-title mb-1"><%= ingredient.name %></h5>
                <%= link_to "", ingredient, method: "delete", confirm: "¿Estas Seguro?", class: "fas fa-trash-alt" %>
              </div>
            </div>
          </div>
<% end %>
        </div>
  <%= simple_form_for([@kit, @ingredient], method: :post, url: kit_ingredients_path) do |f| %>
    <div class="d-row align-items-center">
      <%= f.input :name, placeholder: "Nombre", label: false %>
      <%= f.input :image, placeholder: "Imagen", label: false %>
      <%= f.simple_fields_for :kit_ingredient do |a| %>
        <%= a.input :quantity, label: "Cantidad" %>
        <%= a.input :unit, label: "Unidad" %>
      <% end %>
    </div>
    <%= f.submit "Agregar Ingrediente", class: "btn btn-primary"%>
  <% end %>
