<div class="container">
  <%= link_to "", :back, class: "fas fa-arrow-left mt-3", style: "text-decoration: none; color: #2a94e7; width: 200px; font-size: 30px;" %>
  <h2 class="pt-3 mt-2 mb-4">Mi perfil: <%= @user.first_name %> <%= @user.last_name %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :first_name, label: "Nombre" %>
      <%= f.input :last_name , label: "Apellido"%>
      <%= f.input :avatar_image, required: true , label: "Imagen de perfil" %>
      <%= f.input :avatar_image_cache, required: true, as: :hidden %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: "Contraseña",
                  hint: "Dejar en blanco si no queres cambiarla",
                  required: false,
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :password_confirmation,label: "Confirmar contraseña",
                  required: false,
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :current_password, label: "Contraseña actual",
                  hint: "Necesitamos tu contraseña actual para confirmar los cambios",
                  input_html: { autocomplete: "contraseña actual" } %>
    </div>
    <div class="form-actions mb-3">
      <%= f.button :submit, "Actualizar", class: "btn btn-primary rounded text-center w-100"%>
    </div>
  <% end %>

  <p><%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger" %></p>

  <%= link_to "Volver", :back, class: "btn btn-primary" %>
</div>
