<div class="container">
  <h2 class="pt-3 my-4">Editar perfil <%= @user.first_name %> <%= @user.last_name %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :avatar_image, required: true %>
      <%= f.input :avatar_image_cache, required: true, as: :hidden %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "nueva contraseña" } %>
      <%= f.input :current_password,
                  hint: "necesitamos tu contraseña actual para confirmar los cambios",
                  input_html: { autocomplete: "contraseña actual" } %>
    </div>
    <div class="form-actions bg-primary mb-3 rounded text-center">
      <%= f.button :submit, "Actualizar" %>
    </div>
  <% end %>
  <h3 class="my-4">Cancelar mi cuenta</h3>

  <p>Unhappy? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>

  <%= link_to "Volver", :back %>
</div>
