<p>Error en la compra, a continuaci贸n la informaci贸n:</p>

<h4>Informaci贸n del Restaurant</h4>
<ul>
  <li><b>Restaurant:</b> <%= @order.kit.restaurant.name %></li>
  <li>Store: <%= @store.name %></li>
  <li><b>Kit:</b> <%= @order.kit.name %></li>
  <li><b>Cantidad:</b> <%= @order.amount %></li>
  <li><b>Intento de compra:</b> <%= l(@order.created_at.in_time_zone("Buenos Aires"), format: "%A %d-%b") %></li>
  <li></li>

</ul>

<h4>Informaci贸n sobrre la compra</h4>
<ul>
  <li><b>Usuario:</b> <%= @order.user.first_name %> <%= @order.user.last_name %></li>
  <li><b>Telefono:</b> <%= @order.user.phone %></li>
  <li><b>Email:</b> <%= @order.user.email %></li>
  <li><b>Fecha para delivery:</b> <%= l(@order.date_delivery.in_time_zone("Buenos Aires"), format: "%A %d-%b") %></li>
</ul>


