<%= content_for :metadata do %>
<title>Cociná en casa | <%= @store.restaurant.name %></title>
<meta name="title" content="Cocina en casa | <%= @store.restaurant.name %>">
<meta name="description" content="¡CocinaEnCasa.com.ar te trae <%= @store.restaurant.name %> a tu casa.">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cocinaencasa.com.ar/restaurants/<%= @store.restaurant.name.downcase.split(' ').join('-') %>">
  <meta property="og:title" content="Cocina en casa | <%= @store.restaurant.name %>">
  <meta property="og:description" content="¡CocinaEnCasa.com.ar te trae <%= @store.restaurant.name %> a tu casa.">
  <meta property="og:image" content="<%= @store.restaurant.image %>">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.cocinaencasa.com.ar/restaurants/<%= @store.restaurant.name.downcase.split(' ').join('-') %>">
  <meta property="twitter:title" content="Cocina en casa | <%= @store.restaurant.name %>">
  <meta property="twitter:description" content="¡CocinaEnCasa.com.ar te trae <%= @store.restaurant.name %> a tu casa.">
  <meta property="twitter:image" content="<%= @store.restaurant.image %>">
<% end %>

<div class="container">
  <div class="d-flex mt-4 store-information">
    <div style="background-image: url(<%= @store.restaurant.image %>);" class="d-none d-sm-block store-sm-show">
    <% @store.flags.split(", ").each_with_index do |flag, index| %>
      <span class="<%= 'second-category' if index.odd? %>"><%= flag %></span>
    <% end %>
    </div>
    <div class="flex-grow-1 flex-sm-grow-1">
      <div class="d-flex">
        <div style="background-image: url(<%= @store.restaurant.brand.logo %>);" class="store-square-logo"></div>
        <div class="store-address">
          <h1><%= @store.restaurant.name %></h1>
          <h4><%= "#{@store.name} - " if @store.name != "" %><%= truncate(@store.address.address, length: 20) %></h4>
        </div>
      </div>
      <p class="delivery-limit">Podés hacer tu pedido <%= @store.next_available_time %></p>
      <div style="background-image: url(<%= @store.restaurant.image %>);" class="d-block d-sm-none store-show">
        <% @store.flags.split(", ").each_with_index do |flag, index| %>
          <span class="<%= 'second-category' if index.odd? %>"><%= flag %></span>
        <% end %>
      </div>
      <div class="m-0 mt-sm-3 d-block d-sm-flex delivery-information">
        <div class="my-2 mb-sm-0 mr-0 mr-sm-5">
          <h3 class="mb-0 mb-sm-2">Días de entregas</h3>
          <div class="d-flex" style="flex-wrap: wrap;">
            <% @store.available.each do |day| %>
              <p class="mt-2 mt-sm-0"><%= day %></p>
            <% end %>
          </div>
        </div>
        <div class="my-2 mb-sm-0">
          <h3 class="mb-0 mb-sm-2">Método de entrega</h3>
          <div class="d-flex">
            <% if @store.pick_up %>
              <p class="mt-2 mt-sm-0">take away</p>
            <% end %>
            <p class="mt-2 mt-sm-0">delivery</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mb-4 section-secondary store-show-kit-offer">Elejí tu Chef Box</h2>
  <div class="kits-wrapper">
    <% @kits.each do |kit| %>
    <%= render "components/kit", kit: kit, kits: @kits, store: @store %>
    <% end %>
  </div>
</div>
