<% orders.each do |day, order_list| %>
<h2 class="day-delivery-group">
  <%= day %>
</h2>
<% order_list.each do |order| %>
<div class="mb-3 payment-card-wrapper position-relative">
  <div class="payment-order order-<%= order.status %>" data-order=<%= order.id %>>
    <h3 class="py-1 px-3"><%= order.kit.name %></h3>
    <div class="payment-order-amount position-absolute text-center order-<%= order.id %> " data-toggle="tooltip" data-placement="top" title="<%= order.user.full_name %> (<%= order.user.phone %>)">
      <p><%= pluralize(order.amount, "kit") %></p>
      <div>
        <p><%= Store.find(order.store_id).name.upcase %></p>
      </div>
    </div>
    <div class="payment-order-address position-absolute text-center order-<%= order.id %> " data-toggle="tooltip" data-placement="top" title="<%= order.client_comment %>">
      <% if order.payment.cash %>
      <p>PICK UP</p>
      <% else %>
      <p><%= truncate(order.address.address, length: 45) %></p>
      <div>
        <p><%= order.address.flat_number %></p>
      </div>
      <% end %>
    </div>
    <div class="payment-order-information position-absolute text-center" data-toggle="tooltip" data-placement="top" title="<%= order.payment.date_approved.to_datetime.in_time_zone("Buenos Aires").strftime("%a %d-%b %l:%M %p") %>">
      <p>$<%= order.amount * order.kit.price %></p>
      <div>
        <% if order.payment.cash %>
        <p>EFECTIVO</p>
        <% else %>
        <p><%= order.payment.card %> <%= order.payment.done_with.upcase %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-none order-<%= order.id %>">
    <div class="d-flex delivery-info">
      <div class="text-center flex-grow-0 delivery-amount-wrapper d-flex justify-content-center align-items-center">
        <div class="delivery-amount d-flex justify-content-center align-items-center">
          <div>
            <p class="amount"><%= order.amount %></p>
            <p>KITS</p>
          </div>
        </div>
      </div>
      <div class="flex-grow-1 delivery-data d-flex p-3">
        <div class="position-relative">
          <% if order.delivery %>
          <%= render "components/delivery_moto" %>
          <span class="position-absolute delivery-type">A DOMICILIO</span>
          <% else %>
          <%= render "components/pick_up" %>
          <span class="position-absolute delivery-type">PICK UP</span>
          <% end %>
        </div>
        <a href="https://www.google.com.ar/maps/place/<%= I18n.transliterate(order.address.address) %>/" class="ml-5" style="border: 1px solid #01788c;">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= order.address.address %>&zoom=17&size=250x167&key=<%= ENV['GOOGLE_STATIC_MAP_API_KEY'] %>" style="height: 167px; width: 250px;">
        </a>
        <div class="ml-4 d-flex flex-column justify-content-between">
          <div>
            <div class="mb-2" ><i class="fas fa-map-marker-alt mr-2" style="color: #01788c;"></i></i><%= order.address.address %></div>
            <div class="mb-2" ><i class="fas fa-building mr-2" style="color: #01788c;"></i><%= order.address.flat_number %></div>
          </div>
          <div class="client-comment">
            <p class="mb-2">Nota del cliente</p>
            <p class="client-comment-text m-0"><i><%= order.client_comment %></i></p>
          </div>
        </div>
      </div>
      <div class="flex-grow-0 client-information d-flex flex-column justify-content-around align-items-center">
        <div class="client-information-details text-center">
          <p class="m-0 name mb-2 text-bold"><%= order.user.full_name %></p>
          <div class="d-flex justify-content-center align-items-center mb-2">
            <a href="tel:<%= order.user.phone %>">
              <p class="m-0 phone mb-0 mr-3"><%= order.user.phone %></p>
            </a>
            <a href="https://api.whatsapp.com/send?phone=<%= order.user.phone %>&text=Hola, Te contacto desde <%= order.kit.restaurant.name %> por tu Chef Box <%= order.kit.name %>, pedido a través de CocinaEnCasa.com.ar." target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a href="mailto:<%= order.user.email %>" class="m-0 email mb-2">
              <%= order.user.email %>
            </a>
          </div>
        </div>
        <div class="cta-btn">
          <% if order.status == 'pending' %>
          <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "¿Marcar kit como preparado?" }, class:"w-100" do |f| %>
          <%= f.hidden_field :status, value: :on_transit %>
          <div class="d-flex justify-content-center">
            <%= f.submit "MARCAR PEDIDO COMO PREPARADO", class: 'btn text-center btn-primary p-1 px-2 w-100', style:"font-size: 10px !important;"  %>
          </div>
          <% end %>
          <% elsif order.status == 'on_transit' %>
          <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "¿Marcar kit como entregado?" }, class:"w-100" do |f| %>
          <%= f.hidden_field :status, value: :delivered %>
          <div class="d-flex justify-content-center">
            <%= f.submit "MARCAR PEDIDO COMO ENTREGADO", class: 'btn text-center btn-secondary p-1 px-2 w-100', style:"font-size: 10px !important;"  %>
          </div>
          <% end %>
          <% elsif order.status == 'delivered' %>
          <%= simple_form_for :order, url: order_assignment_path(order), method: :patch, data: { confirm: "¿Marcar kit como preparado?" }, class:"w-100" do |f| %>
          <%= f.hidden_field :status, value: :canceled %>
          <div class="d-flex justify-content-center">
            <%= f.submit "MARCAR PEDIDO COMO CANCELADO", class: 'btn text-center btn-danger p-1 px-2 w-100', style:"font-size: 10px !important;"  %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% if orders.empty? %>
<div class="w-100" >
  <h2 class="day-delivery-group">
    No has tenido pedidos en los últimos 5 días.
  </h2>
  <div class="d-flex justify-content-center align-items-center w-75 mx-auto">
    <%= render "components/waiting-ordered" %>
  </div>
</div>
<% end %>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
