<% content_for :metadata do %>
<title>Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa</title>
<meta name="title" content="Cocina en casa | Tus restaurantes favoritos en tu casa">
<meta name="description" content="¡Cocina en Casa te trae tus restaurantes favoritos a tu cocina! .">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="og:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="og:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="og:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="twitter:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="twitter:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="twitter:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">
<% end %>

<div class="container">
  <%= link_to "", :back, class: "fas fa-arrow-left mt-3", style: "text-decoration: none; color: #2a94e7; width: 200px; font-size: 30px;" %>
  <h2 class="mt-3 mb-2 text-center">Utensillos del kit</h2>
  <div class="image-container d-md-block">
    <div class="cards-scroll">
      <div class="cards-scroll mt-2 mb-5">
        <% @kit.cookware.order(created_at: :desc).each do |cookware| %>
        <div class="card-scroll col-md-4">
          <div class="card-kit-showkit border">
            <div class="card-body">
              <div>
                <h5 class="card-title mb-1"><%= cookware.name %></h5>
                <%= link_to "", cookware, method: "delete", confirm: "¿Estas Seguro?", class: "fas fa-trash-alt" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= simple_form_for([@kit, @cookware], method: :post, url: kit_cookwares_path) do |f| %>
    <div class="d-row align-items-center">
      <%= f.input :name, placeholder: "Nombre", label: false %>
      <%= f.simple_fields_for :kit_ingredient do |a| %>
      <% end %>
  </div>
  <%= f.submit "Agregar Utensillo", class: "btn btn-primary mb-5"%>
  <% end %>
</div>
