<div class="container">
  <%= link_to "", :back, class: "fas fa-arrow-left mt-3", style: "text-decoration: none; color: #2a94e7; width: 200px; font-size: 30px;" %>
  <h2 class="mt-3 mb-2 text-center">Utensillos del kit</h2>
  <div class="image-container d-md-block">
    <div class="cards-scroll">
      <div class="cards-scroll mt-2 mb-5">
        <% @kit.cookware.each do |cookware| %>
        <div class="card-scroll col-md-4">
          <div class="card-kit-showkit border">
            <img src=<%= cookware.image %>  />
            <div class="card-body">
              <div>
                <h5 class="card-title mb-1"><%= cookware.name %></h5>
                <%= link_to "", cookware, method: "delete", confirm: "¿Estas Seguro?", class: "fas fa-trash-alt" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= simple_form_for([@kit, @cookware], method: :post, url: kit_cookwares_path) do |f| %>
    <div class="d-row align-items-center">
      <%= f.input :name, placeholder: "Nombre", label: false %>
      <%= f.input :image, placeholder: "Imagen", label: false %>
      <%= f.simple_fields_for :kit_ingredient do |a| %>
      <% end %>
  </div>
  <%= f.submit "Agregar Utensillo", class: "btn btn-primary mb-5"%>
  <% end %>
</div>
