<% content_for :metadata do %>
<title>Cociná en casa | <%= @category %></title>
<meta name="title" content="Cocina en casa | <%= @category %>">
<meta name="description" content="¡Cocina en Casa te trae tus restaurantes favoritos a tu cocina! .">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="og:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="og:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="og:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="twitter:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="twitter:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="twitter:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">
<% end %>

<div class="container">
  <div class="" id="search-restaurant">
    <a href="#restaurants" class="scroll-down"><span>ver restaurantes</span></a>
  </div>

  <h2 class="mt-4 mb-3 section-secondary d-flex">Chef Boxes categoría <p class="category-selected"><%= @category %></p></h2>
  <div class="kits-wrapper">
    <% @kits.each do |kit| %>
    <%= render "components/kit", kit: kit, kits: @kits %>
    <% end %>
  </div>
  <h2 class="mt-5 mb-5 section-secondary d-flex">Restaurantes categoría <span class="category-selected"><%= @category %></span></h2>
  <div class="restaurant-list">
    <% @stores.each do |store| %>
    <%= render "components/store", store: store %>
    <% end %>
  </div>
  <h2 class="mt-5 mb-3 section-secondary">Otras categorías</h2>
  <div class="cards-scroll d-flex">
    <% @categories.each do |category| %>
    <%= render "components/category", category: category %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2 class="text-center mb-3 mt-5">Tu restaurant favorito en casa</h2>
  <h4 class="text-center my-3"><small>¡Convertite en el chef de tu plato favorito!</small></h4>

  <a href=" <%= new_user_registration_path %>" class="btn btn-primary btn-lg btn-block mb-3">Registrate</a>
</div>
