<div class="container">
  <div class="" id="search-restaurant">
    <a href="#restaurants" class="scroll-down"><span>ver restaurantes</span></a>
  </div>

  <h2 class="mt-3 mb-4 section-secondary">Kit Chef Box en la categoría <span class="category-selected"><%= @category %></span></h2>
  <div class="kits-wrapper">
    <% @kits.each do |kit| %>
    <%= render "components/kit", kit: kit, kits: @kits %>
    <% end %>
  </div>
  <h2 class="mt-5 mb-5 section-secondary">Restaurantes en la categoría <span class="category-selected"><%= @category %></span></h2>
  <div class="restaurant-list">
    <% @stores.each do |store| %>
    <%= render "components/store", store: store %>
    <% end %>
  </div>
  <h2 class="mt-5 mb-4 section-secondary">Otras categorías</h2>
  <div class="cards-scroll d-flex">
    <% @categories.each do |category| %>
    <%= render "components/category", category: category %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <h2 class="text-center mb-3 mt-5">Tu restaurant favorito en casa</h2>
  <h4 class="text-center my-3"><small>¡Convertite en el chef de tu plato favorito!</small></h4>

  <a href=" <%= new_user_registration_path %>" class="btn btn-primary btn-lg btn-block mb-3">Registrate</a>
</div>
