
<div class="container mt-5">
  <%= simple_form_for [@kit] do |f| %>
  <%= f.input :restaurant_id, collection: @user.restaurants, prompt: "Restaurant", label: false, required: true %>
  <%= f.input :name, label: false, placeholder: 'Nombre' %>
  <%= f.input :stock, as: :integer, label: false, placeholder: 'Stock' %>
  <%= f.input :price, as: :integer, label: false, placeholder: 'Precio' %>
  <%= f.input :size, as: :integer, label: false, placeholder: 'Comenzales' %>
  <%= f.input :preparation_time, label: false, placeholder: 'Tiempo de preparacion' %>
  <%= f.input :description, as: :text, label: false, placeholder: 'Description' %>
  <%= f.input :image, label: false %>

  <div class="links">
    <%= f.button :submit, class:'btn btn-primary' %>
    <%= link_to 'Index', root_path, class: "bootstrapbutton" %>
    <% end %>
</div>
