
<div class="container mt-5">

<%= link_to "", :back, class: "fas fa-arrow-left my-2", style: "text-decoration: none; color: #2a94e7; width: 200px; font-size: 30px;" %>
  <%= simple_form_for [@kit] do |f| %>
    <%= f.input :restaurant_id, collection: @user.restaurants, prompt: "Restaurant", label: false, required: true, error: "no dejar blancos" %>
    <%= f.input :name, label: false, placeholder: 'Nombre', required: true %>
    <%= f.input :stock, as: :integer, label: false, placeholder: 'Stock', default: 0 %>
    <%= f.input :price, as: :integer, label: false, placeholder: 'Precio', required: true %>
    <%= f.input :size, as: :integer, label: false, placeholder: 'Comenzales', default: 1 %>
    <%= f.input :preparation_time, label: false, placeholder: 'Tiempo de preparacion', required: true %>
    <%= f.input :description, as: :text, label: false, placeholder: 'Description' %>
    <%= f.input :image, label: false, required: true %>

  <div class="links">
    <%= f.button :submit, class:'btn btn-primary' %>
    <% end %>
</div>
