<% content_for :fb_track do %>
<script>fbq('track', 'ViewContent');</script>
<% end %>
<%= content_for :metadata do %>
<title>Cociná en casa | <%= @kit.name %></title>
<meta name="title" content="Cocina en casa el <%= @kit.name %> de <%= @kit.restaurant.name %>">
<meta name="description" content="¡CocinaEnCasa.com.ar te trae el <%= @kit.name %> de <%= @kit.restaurant.name %> a tu casa!">

<meta property="og:type" content="website">
<meta property="og:url" content="https://www.cocinaencasa.com.ar/kits/<%= @kit.name.downcase.split(' ').join('-') %>">
<meta property="og:title" content="Cocina en casa el <%= @kit.name %> de <%= @kit.restaurant.name %>">
<meta property="og:description" content="¡CocinaEnCasa.com.ar te trae el <%= @kit.name %> de <%= @kit.restaurant.name %> a tu casa!">
<meta property="og:image" content="<%= @kit.image %>">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.cocinaencasa.com.ar/kits/<%= @kit.name.downcase.split(' ').join('-') %>">
<meta property="twitter:title" content="Cocina en casa el <%= @kit.name %> de <%= @kit.restaurant.name %>">
<meta property="twitter:description" content="¡CocinaEnCasa.com.ar te trae el <%= @kit.name %> de <%= @kit.restaurant.name %> a tu casa!">
<meta property="twitter:image" content="<%= @kit.image %>">
<% end %>

<div class="container mt-3 mt-sm-5">
  <div class="d-flex">
    <div class="mt-3 kit-information w-100">
      <h1 id="kit-show"><%= @kit.name %></h1>
      <p><%= @kit.description %></p>
      <div class="d-none d-sm-flex kit-show-store-main-information-sm">
        <div style="background-image: url(<%= @store.restaurant.brand.logo %>);" class="kit-store-square-logo"></div>
        <div class="store-address">
          <h1><%= @store.restaurant.name %></h1>
          <h4><%= "#{@store.name} - " if @store.name != "" %><%= truncate(@store.address.address, length: 20) %></h4>
          <% if @store.delivery_time.empty? %>
          <% else  %>
          <h4>Horarios delivery: <%= @store.delivery_time %></h4>
          <% end %>
        </div>
      </div>
      <div style="background-image: url(<%= @kit.image %>);" class="d-block d-sm-none kit-show-image">
        <% @store.flags.split(", ").each_with_index do |flag, index| %>
        <span class="<%= 'second-category' if index.odd? %>"><%= flag %></span>
        <% end %>
      </div>
      <div class="d-flex kit-store d-block d-sm-none">
        <div id="left" class="ojito"></div>
        <div id="right" class="ojito"></div>
        <div id="right" class="ojito"></div>
        <div style="background-image: url(<%= @kit.restaurant.brand.logo %>);" class="kit-store-logo"></div>
        <div>
          <div class="kit-store-address">
            <h2><%= @kit.restaurant.name %></h2>
            <h4><%= "#{@store.name} - " if @store.name != "" %><%= truncate(@store.address.address, length: 20) %></h4>
          </div>
        </div>

        <div class="d-none d-sm-block map-zone" data-store="<%= @store.id %>" id="poligono" data-coordinates=<%= @coordinates.to_json %>>⚠ Ver zona de envío</div>
      </div>
      <div class="d-block d-sm-none mt-3 map-zone map-open" data-store="<%= @store.id %>">⚠ Ver zona de envío</div>
      <div class="map-wrapper">
        <div class="map-canvas d-none" id="store-<%= @store.id %>" data-polygon="<%= @store.polygon.to_json %>"></div>
      </div>
      <div id="delivery-area" class="area-information-disclaimer d-none">
      </div>
      <div class="d-block d-sm-none mt-1 map-zone"  id="ingredients-trigger">Ver ingredientes y utencillos</div>

      <div class="kit-information-disclaimer d-none" id="ingredients" >
        <div>
          <h5>Ingredientes</h5>
          <ul class="mb-0">
            <% @ingredients.each do |ingredient| %>
            <li class="m-0 element"><%= ingredient.name.downcase %></li>
            <% end %>
          </ul>
        </div>
        <div>
          <h5>Utencillos requeridos</h5>
          <ul class="mb-0">
            <% if @cookwares.empty? %>
            <li>No especificados.</li>
            <% end %>
            <% @cookwares.each do |cookware| %>
            <li class="m-0 element"><%= cookware.name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="kit-information-disclaimer kit-details d-sm-none">
        <div class="d-flex justify-content-around">
          <div class="kit-disclaimer">
            <i class="far fa-user"></i>
            <span><%= @kit.size %> personas</span>
          </div>
          <div class="kit-disclaimer">
            <i class="far fa-clock"></i>
            <span><%= @kit.preparation_time %> minutos</span>
          </div>
        </div>
        <div class="kit-disclaimer">
          <i class="fas fa-utensils"></i>
          <span><%= @store.days_in_text %></span>
        </div>
        <div class="kit-disclaimer">
          <i class="far fa-calendar-alt"></i>
          <span>Hace tu pedido <%= @store.next_available_time %></span>
        </div>
         <div class="kit-disclaimer">
          <% if @store.delivery_time.empty? %>
          <% else  %>
          <i class="fas fa-motorcycle"></i>
          <span>Horarios delivery: <%= @store.delivery_time %></span>
          <% end %>
        </div>
      </div>

      <div class="disclaimer kit-information-disclaimer-sm kit-details d-none d-sm-flex">
        <div class="kit-disclaimer kit-disclaimer-sm">
          <i class="far fa-user"></i>
          <span><%= @kit.size %> personas</span>
        </div>
        <div class="kit-disclaimer kit-disclaimer-sm">
          <i class="far fa-clock"></i>
          <span><%= @kit.preparation_time %> minutos</span>
        </div>
        <div class="kit-disclaimer kit-disclaimer-sm">
          <i class="far fa-calendar-alt"></i>
          <span><%= @store.days_in_text %></span>
        </div>
        <div class="kit-disclaimer kit-disclaimer-sm">
          <i class="fas fa-utensils"></i>
          <span>Hace tu pedido <%= @store.next_available_time %></span>
        </div>
      </div>
    </div>
    <div style="background-image: url(<%= @kit.image %>);" class="d-none d-sm-block kit-show-sm-image">
      <% @store.flags.split(", ").each_with_index do |flag, index| %>
      <span class="<%= 'second-category' if index.odd? %>"><%= flag %></span>
      <% end %>
    </div>
  </div>
  <div class="d-flex">
    <div class="w-100 w-sm-50 p-0 p-sm-3">
      <h2 class="mb-2 mt-4 section-secondary store-show-kit-offer">Pedí tu <%= @store.ready_made ? 'Plato o ' : '' %>Chef Box</h2>
      <div>
        <%= simple_form_for([@kit, @order])  do |f| %>
        <% stock = [@kit.stock, 10].min %>
        <% if @store.ready_made %>
        <%= f.input :prepared, as: :hidden, input_html: {style: "margin: 0;", id: "ready-made"} %>
        <label style="font-weight: bold;font-size: 14px;">Tipo de pedido</label>
        <div class="d-flex mb-4">
          <div class="w-50 my-1 mr-1 d-flex justify-content-center align-items-center ready-made-options active p-2 position-relative" id="to-cook">
            <%= render "components/to_cook" %>
          </div>
          <div class="w-50 my-1 ml-1 d-flex justify-content-center align-items-center ready-made-options p-2 position-relative" id="prepared">
            <%= render "components/prepared" %>
          </div>
        </div>
        <% end %>
        <div class="d-flex justify-content-between">
          <div class="kit-input-group kit-show-xs-input">
            <span id="disabled_dates" data-delivery=<%= @store.disabled.to_json %>></span>
            <label for="amount">Día de Entrega</label>
            <%= f.input :date_delivery, as: :string, required: false, input_html: {class: "datepicker"}, wrapper_html: {style: "margin: 0;"}, label:false %>
          </div>
          <div class="kit-input-group kit-show-xs-input">
            <label for="amount">Cantidad</label>
            <%= f.input :amount, collection: 1..stock, selected: 1, label: false, placeholder: "Cantidad" %>
            <span data-price="<%= @kit.price %>" id="price"></span>
          </div>
        </div>

        <% if @kit.restaurant.own_delivery %>
        <div class="d-flex align-items-center delivery-options mb-3">
          <div style="background-image: url(<%= @kit.restaurant.brand.logo %>);" class="kit-store-logo mr-3" style="width: 50px; height: 50px;"></div>
          <%= f.input :delivery_provider, collection: @store.pick_up_providers, prompt: "Metodo de envío", label: false, required: true, as: :radio_buttons, id: "order_delivery_provider"%>
          <%= f.input :store_id, input_html: { value: @store.id }, as: :hidden %>
        </div>
        <%= f.simple_fields_for :addresses do |a| %>
        <% address = user_signed_in? && !current_user.addresses.last.nil? ? current_user.addresses.last.address : nil %>
        <% flat_number = user_signed_in? && !current_user.addresses.last.nil? ? current_user.addresses.last.flat_number : nil %>
        <div class="justify-content-between hide-field-address" id="address_fields">
          <div class="kit-input-group kit-show-sm-input">
            <label for="amount">Dirección de Entrega</label>
            <%= a.input :address, placeholder: "Ingresar dirección...", label: false, input_html: { value: address }  %>
          </div>
          <div class="kit-input-group kit-show-sm-input">
            <label for="amount">Piso o lote</label>
            <%= a.input :flat_number, placeholder: "Piso o lote", label: false, input_html: { value: flat_number } %>
          </div>
        </div>
        <%= a.input :state, placeholder: "Provincia", label: false, as: :hidden %>
        <%= a.input :city, placeholder: "Localidad", label: false, as: :hidden %>
        <%= a.input :cp, placeholder: "Código Postal", label: false, as: :hidden %>
        <% end %>
        <% else %>
        <div class="d-flex">
          <%= f.input :delivery_provider, collection: @store.pick_up_providers, label: "Metodo de envío", required: true, as: :radio_buttons%>
          <% end %>
          <div>
            <p id="store_address" class="hide-store-address">Lo notificaremos por teléfono o email para su retiro del pedido en nuestro restaurant (<%= @store.address.address %>)</p>
            <%= f.input :comment, placeholder: "Comentario", label: false %>
            <%= f.submit "Seleccione la cantidad de Kits", class:"btn btn-primary btn-block disabled", id:"submit_order_kit", disabled:"disabled" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-block w-100 mt-0 mt-3 pl-3">
        <div>
          <h5 class="mt-4">Ingredientes</h5>
          <ul class="mb-0">
            <% @ingredients.each do |ingredient| %>
            <li class="m-0 element"><%= ingredient.name.downcase %></li>
            <% end %>
          </ul>
        </div>
        <div>
          <h5 class="mt-3">Utencillos requeridos</h5>
          <ul class="mb-0">
            <% if @cookwares.empty? %>
            <li>No especificados.</li>
            <% end %>
            <% @cookwares.each do |cookware| %>
            <li class="m-0 element"><%= cookware.name.downcase %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="mb-4 section-secondary store-show-kit-offer">Otros Chef Boxes</h2>
    <div class="kits-wrapper">
      <% @kits.each do |kit| %>
      <%= render "components/kit", kit: kit, kits: @kits %>
      <% end %>
    </div>
  </div>
</div>

<style>
  .map-wrapper > div {
    border-radius: 4px;
    border: 1px solid #01788c;
    background-color: #01788c0d;
    color: #01788c;
    text-align: center;
    font-weight: bold;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .map-canvas {
    width: auto;
    height: 35vh;
  }
  .info {
    color: #222;
  }
  .lngLat {
    color: #fff;
    margin-bottom: 5px;
  }
  .lngLat .one {
    padding-left: 250px;
  }
  .lngLat .two {
    padding-left: 34px;
  }
  .info {
    height: 140px;
    float: left;
    margin-bottom: 30px;
    border: solid 2px #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 2px 5px #444;
    -webkit-box-shadow: inset 0 2px 5px #444;
    box-shadow: inset 0 2px 5px #444;
  }
  .info, .lngLat {
    font-family: arial, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    width: 270px;
  }
</style>

<script>

  function buildMap(element) {

    function createInitialPolygon() {
      return new Promise(resolve => {
        const standardData = [
        new google.maps.LatLng(-34.55793, -58.37472),
        new google.maps.LatLng(-34.58888, -58.34004),
        new google.maps.LatLng(-34.63056, -58.32871),
        new google.maps.LatLng(-34.62336, -58.36614),
        new google.maps.LatLng(-34.62294, -58.38845),
        new google.maps.LatLng(-34.63198, -58.44338),
        new google.maps.LatLng(-34.61249, -58.48802),
        new google.maps.LatLng(-34.55184, -58.51954),
        new google.maps.LatLng(-34.5036, -58.59775),
        new google.maps.LatLng(-34.52252, -58.74045),
        new google.maps.LatLng(-34.47454, -58.81557),
        new google.maps.LatLng(-34.48655, -58.93739),
        new google.maps.LatLng(-34.46529, -58.99974),
        new google.maps.LatLng(-34.41898, -58.80147),
        new google.maps.LatLng(-34.34864, -58.66037),
        new google.maps.LatLng(-34.43696, -58.5110)
        ];
        const initialPolygon = JSON.parse(JSON.parse(element.dataset.polygon));
        const createPolygon = function(initialPolygon) {
          return new Promise(resolve => {
            const initialPolygonDB = initialPolygon.map((point) => {
              return new google.maps.LatLng(point.lat,point.lng)
            })
            resolve(initialPolygonDB)
          })
        }
        if (initialPolygon.length === 0) {
          resolve(standardData);
        } else {
          return createPolygon(initialPolygon).then(data => resolve(data))
        }
      })
    }

    createInitialPolygon().then((drawPoligon) => {
    // Map Center
    const polygon = JSON.parse(JSON.parse(document.querySelector(".map-canvas").dataset.polygon))

    if (polygon.length === 0) {
      var myLatLng = new google.maps.LatLng(-34.603722, -58.381592);
    } else {
      var myLatLng = new google.maps.LatLng(eval(polygon[0].lat), eval(polygon[0].lng));
    }

    // General Options
    var mapOptions = {
      zoom: 10,
      center: myLatLng,
      mapTypeId: google.maps.MapTypeId.RoadMap,
      zoomControl: true,
      mapTypeControl: false,
      streetViewControl: false,
      rotateControl: true,
    };

    var map = new google.maps.Map(element, mapOptions);

    // Styling & Controls
    const myPolygon = new google.maps.Polygon({
      paths: drawPoligon,
      draggable: false,
      editable: false,
      strokeColor: '#01788c',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#01788c',
      fillOpacity: 0.35
    });
    myPolygon.setMap(map);
  }
  )}

    document.addEventListener("DOMContentLoaded", function() {
      const maps = document.querySelectorAll(".map-wrapper")
      maps.forEach((map) => {
        buildMap(map.children[0])
      })
    })
  </script>
