<% content_for :metadata do %>
<title>Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa</title>
<meta name="title" content="Cocina en casa | Tus restaurantes favoritos en tu casa">
<meta name="description" content="¡Cocina en Casa te trae tus restaurantes favoritos a tu cocina! .">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="og:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="og:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="og:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="twitter:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="twitter:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="twitter:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">
<% end %>

<%= link_to "", :back, class: "fas fa-arrow-left mt-3", style: "text-decoration: none; color: #2a94e7; width: 200px; font-size: 30px;" %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1585144570564-9629fa5ab791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=727&q=80)">
  <h1>Mis Órdenes</h1>
</div>

<div class="container-fluid mt-2">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Ordenes en camino" aria-selected="true">Órdenes en camino</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Historial de ordenes" aria-selected="false">Historial de ordenes</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="Favoritos" aria-selected="false">Destacados</a>
    </li> -->
  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="d-flex flex-wrap mx-3" >

        <% @payments.each do |payment| %>
        <% if  payment.approved %>
        <% if payment.order.status == "pending" || payment.order.status == "on_transit" %>
        <div class="card-kit border mx-auto" style=" width: 300px; height:450px">
          <div>
            <img class="rounded position-absolute"  style="height: 50%" src=<%= payment.order.kit.image %>  />
            <img class="rounded-circle position-relative" style="width: 50px; height: 50px" src=<%= payment.order.kit.restaurant.brand.logo %>  />
          </div>
          <div class="card-body position-relative" style="top: 170px;" >
            <div >
              <h5 class="card-title mb-1"><%= payment.order.kit.name  %><a href="https://api.whatsapp.com/send?phone=+549<%= payment.order.kit.restaurant.phone %>" target="_blank"><i class="fab fa-whatsapp" style="margin-left: 20px; font-size: 30px; color: #47E463;"></i></a></h5>
              <p class="card-title mb-1"><%= payment.order.user.first_name  %> <%= payment.order.user.last_name  %></p>
              <p class="card-title mb-1"><%= l payment.order.date_delivery.time %></p>
              <p class="card-text overflow-ellipsis"><%= payment.order.kit.restaurant.name %>
              </p>
             <%= link_to "Receta", guide_path(payment.order.kit.guide), class: "btn btn-outline-primary", style: "width: 120px; margin-left: 65px;" %>
           </div>
         </div>
       </div>
       <% end %>
       <% end %>
       <% end %>
     </div>
   </div>
   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="col-12">
      <div class="d-flex flex-wrap mx-3">
        <% @payments.each do |payment| %>
        <% if  payment.approved == true %>
        <% if payment.order.status == "delivered" %>
        <div class="card-kit border mx-auto" style=" width: 300px; height:450px">
          <div>
            <img class="rounded position-absolute"  style="height: 50%" src=<%= payment.order.kit.image %>  />
            <img class="rounded-circle position-relative" style="width: auto; height: 50px" src=<%= payment.order.kit.restaurant.brand.logo %>  />
            <div class="d-flex position-absolute" style="top: 40%; right: 10px;">
              <% if payment.order.review.nil? %>
              <%= link_to 'Comentario', new_order_review_path(payment.order), class: "btn-primary p-2 w-100" %>
              <% else %>
              <%= link_to 'Gracias por tu opinion', new_order_review_path(payment.order), class: " btn btn-primary p-2 w-100 disabled"%>
              <% end %>
            </div>
          </div>
          <div class="card-body position-relative" style="top: 170px;" >
            <div >
              <h5 class="card-title mb-1"><%= payment.order.kit.name  %></h5>
              <p class="card-text overflow-ellipsis"><%= payment.order.kit.restaurant.name %><a href="https://api.whatsapp.com/send?phone=+549<%= payment.order.kit.restaurant.phone %>" target="_blank"><i class="fab fa-whatsapp" style="margin-left: 20px; font-size: 30px; color: #47E463;"></i></a></p>
              <p class="card-title mb-1">Platos: <%= payment.order.amount  %></p>
              <p class="card-title mb-1"><%= l payment.order.date_delivery.time %></p>
              <%= link_to "Receta", guide_path(payment.order.kit.guide), class: "btn btn-outline-primary", style: "width: 120px; margin-left: 65px;" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="col-12">
      <div class="d-flex flex-wrap mx-3 justify-content-around">
        <% @kits.each do |kit| %>
        <%= link_to kit_path(kit) do  %>
        <div class="card-kit mx-auto" style="width: 300px">
          <%= cl_image_tag kit.image, class: "rounded"%>
          <%= link_to "Favorito", kit_path(kit), class: "btn btn-success border border-light text-light", style: "position: absolute; left: 215px; bottom: 160px;" %>
          <div class="card-body">
           <div>
             <h5 class="card-title mb-1 text-wrap" style="height: 50px"><%= kit.name %></h5>
             <p class="card-text overflow-ellipsis card-description"><%= kit.description %></p>
           </div>
           <div class="d-flex justify-content-between mt-3">
             <p class="card-text card-address"><i class="fas fa-map-marker-alt"></i> A 1.3km</p>
             <p class="card-text card-price">$ <%= kit.price %></p>
           </div>
         </div>
       </div>
       <% end %>
       <% end %>
     </div>
   </div>
 </div>
</div>
</div>
</div>


