<div class="container">
  <div class="d-flex mt-4 store-information">
    <div style="background-image: url(<%= @restaurant.image %>);" class="d-none d-sm-block store-sm-show">
      <span class="second-category"><%= @restaurant.name %></span>
    </div>
    <div class="flex-grow-1 flex-sm-grow-1">
      <div class="d-flex">
        <div style="background-image: url(<%= @restaurant.brand.logo %>);" class="store-square-logo"></div>
        <div class="store-address">
          <h1><%= @restaurant.name %></h1>
          <h4><%= @restaurant.hq_address %></h4>
        </div>
      </div>
    </div>
  </div>


</div>
