<% content_for :metadata do %>
<title>Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa</title>
<meta name="title" content="Cocina en casa | Tus restaurantes favoritos en tu casa">
<meta name="description" content="¡Cocina en Casa te trae tus restaurantes favoritos a tu cocina! .">

<meta property="og:type" content="website">
  <meta property="og:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="og:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="og:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="og:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.cocinaencasa.com.ar/">
  <meta property="twitter:title" content="Cociná en casa | Tus restaurantes favoritos en la cocina de tu casa.">
  <meta property="twitter:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un profesional desde la comodidad de tu casa. Te damos las herramientas a través de guías interactivas junto con todos los ingredientes para preparar tu plato. Con la APP de Cociná en casa tenes todo lo necesario a un clic de distancia.">
  <meta property="twitter:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1588539877/metadata-min_t7ynje.png">
<% end %>

<div class="container px-5">
  <div class="d-flex flex-column justify-content-center my-3">
    <%= link_to "", :back, class: "fas fa-arrow-left mt-2", style: "text-decoration: none; color: #2F9B7A; width: 200px; font-size: 30px;" %>
    <div class="d-flex flex-column shadow justify-content-center my-3 border border-primary rounded">
      <h3 class="pt-4 text-primary text-center">Donde la magia comienza</h3>
      <p class="text-secondary text-center">Estas a punto de convertirte en chef! Seguí el paso a paso...</p>
    </div>
    <h4 class="pt-4 mb-4 text-secondary text-center"><%= @kit.name %></h4>

    <iframe id="ytplayer" type="text/html" width="100%" height="480"
      src="https://www.youtube.com/embed/<%= @guide.video %>?controls=2rails"
      frameborder="0"/>
    </iframe>
  </div>

<div class="container">
<div class="row">
    <div class="col">
      <p class="text-secondary" style="font-size: 15px">Ingredientes</p>
      <% @kit.ingredients.each do |kit| %>
      <p class="card-title mb-1" style="font-size: 13px">-<%= kit.name %></p>
      <% end %>
    </div>
    <div class="col">
      <p class="text-secondary" style="font-size: 15px" >Utensilios</p>
      <% @kit.cookware.each do |kit| %>
      <p class="card-title mb-1"  style="font-size: 13px">-<%= kit.name %></p>
      <% end %>
    </div>
</div>
</div>
  <div class="steps">
    <h4 class="mb-1 text-primary mt-3">Instrucciones</h4>
    <p class="text-secondary ">Paso a paso</p>

    <% @guide.steps.order(order: :asc).each_with_index do |step, index| %>

      <% if @kit.restaurant.user == current_user %>
          <div class="m-4" >
            <p>Paso  <%= index + 1 %></p>
            <%= simple_form_for (step) do |f| %>
            <div class="d-row align-items-center">
              <%= f.input :order, label: "Orden" %>
              <%= f.input :content, label: "Descripción" %>
            </div>
            <div class="d-flex">
              <%= f.submit "Actualizar", class: "btn btn-primary"%>
            <% end %>
              <%= link_to "Eliminar", step_path(step), class: "ml-4 btn btn-outline-danger",method: :delete, data: {confirm: "¿Estas seguro que queres borrar este paso?"} %>
            </div>
          </div>

      <% else %>
        <div class="d-flex align-items-center">
          <p class="stepnumber mr-3 my-4 text-primary" style="font-size: 20px"><%= index + 1 %>.</p>
          <p class="text-muted my-4"><%= step.content %></p>
        </div>
      <% end %>
    <% end %>
    <% if @kit.restaurant.user == current_user %>
    <p>Crear un nuevo paso</p>
        <%= simple_form_for [@guide, @step] do |f| %>
          <div class="d-row align-items-center">
            <%= f.input :order, label: "Orden" %>
            <%= f.input :content, label: "Descripción" %>
          </div>
            <%= f.submit "Agregar nuevo paso", class: "btn btn-primary"%>
        <% end %>
    <% end %>
  </div>


<div class="align-items-center text-center mb-3">
<h6 class="text-primary mb-3">Musicalizá tu momento con nuestras playlists</h6>
      <a href="https://open.spotify.com/user/xwcg9qyl97re5v7jbcsltxlnp?si=e2-UOyPYQOuC1Mox6uFCuw" target="_blank">
         <img alt="Qries" src="https://image.flaticon.com/icons/svg/174/174872.svg"
         height="40">
      </a>
  </div>

  <div class="row">
    <div class="col">
      <a href="https://open.spotify.com/playlist/1fnPBOGfGvLBrcMm0vsJrE?si=cma-YmojSTyvS4zfjcEI4Q" target="_blank"><img border="0" alt="spotify" src="https://res.cloudinary.com/cocina-en-casa/image/upload/v1590432249/weekenddd_l5kqxi.jpg" width="70" height="70"></a>
      <p style="font-size: 13px">Weekends</p>
    </div>
    <div class="col">

      <a href="https://open.spotify.com/playlist/7ubvR4JJHNZ3fT9e0ncF1b?si=4f21X-6cTrqx6S9g1mjWuw" target="_blank"><img border="0" alt="spotify" src="https://res.cloudinary.com/cocina-en-casa/image/upload/v1590432248/loveee_sju7nd.jpg" width="70" height="70"></a>
      <p style="font-size: 13px">Love</p>
    </div>
    <div class="col">
      <a href="https://open.spotify.com/playlist/1o5GNQQQ5n6nURTuF6VnDe?si=vanPymKmSlOpOcwVRLKhRw" target="_blank"><img border="0" alt="spotify" src="https://res.cloudinary.com/cocina-en-casa/image/upload/v1590432248/chilllll_zyjxoi.jpg" width="70" height="70"></a>
      <p style="font-size: 13px">Chill</p>
    </div>
  </div>

<br>




