<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="<%= image_path('logomob.png') %>">

    <title>Cociná en casa | Tu mejor opción para preparar tus comidas como todo un profesional</title>
    <meta name="description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un chef profesional desde la comodidad de tu casa. No te preocupes si nunca cocinaste, nosotros te damos las herramientas a través de guiás interactivas junto con todos los ingredientes para preparar tu plato. Con la app de Cociná en casa tenes todo lo necesario a un clic de distancia.">

    <meta property="og:title" content="Cociná en casa | Tu mejor opción para preparar tus comidas como todo un profesional.">
    <meta property="og:image" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1587754236/metadata_cu1g4o.png">
    <meta property="og:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un chef profesional desde la comodidad de tu casa. No te preocupes si nunca cocinaste, nosotros te damos las herramientas a través de guiás interactivas junto con todos los ingredientes para preparar tu plato. Con la app de Cociná en casa tenes todo lo necesario a un clic de distancia.">
    <meta property="og:site_name" content="Cociná en casa"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Cociná en casaArg">
    <meta name="twitter:title" content="Cociná en casa | Tu mejor opción para preparar tus comidas como todo un profesional">
    <meta name="twitter:description" content="Te brindamos todo lo necesario para que puedas cocinar como todo un chef profesional desde la comodidad de tu casa. No te preocupes si nunca cocinaste, nosotros te damos las herramientas a través de guiás interactivas junto con todos los ingredientes para preparar tu plato. Con la app de Cociná en casa tenes todo lo necesario a un clic de distancia.">
    <meta name="twitter:creator" content="@Cocina en casaArg">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dvgogqjkc/image/upload/v1587754236/metadata_cu1g4o.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


       <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163840497-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163840497-1');
    </script>

    <!-- Hotjar Tracking Code for https://www.cocinaencasa.com.ar/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1771459,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1102854696738268');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1102854696738268&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</head>


  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
